/**
 * Utils: Mixins
 */

/**
 * breakpoint
 *
 * Iterate through $BREAKPOINTS and generate media queries
 *
 * @param {string} $breakpoint - Key in $BREAKPOINTS map
 */
@mixin breakpoint ($breakpoint) {
    @if map-has-key ($BREAKPOINTS, $breakpoint) {
        $breakpoint-data: map-get($BREAKPOINTS, $breakpoint);
        $breakpoint-type: #{nth($breakpoint-data, 1)}-width;
        $breakpoint-width: nth($breakpoint-data, 2);
        $breakpoint-columns: nth($breakpoint-data, 3);
        $breakpoint-grid-horizontal-gutter: nth($breakpoint-data, 4);
        $breakpoint-grid-vertical-gutter: nth($breakpoint-data, 5);
        $breakpoint-column-horizontal-gutter: nth($breakpoint-data, 6);
        $breakpoint-column-vertical-gutter: nth($breakpoint-data, 7);
        $breakpoint-vertical-rhythm: nth($breakpoint-data, 8);

        @media (#{$breakpoint-type}: #{$breakpoint-width / getPropertyFromTypeScale(font-size, html, $CURRENT-BREAKPOINT)}em) {
            $CURRENT-BREAKPOINT: $breakpoint !global;
            $BREAKPOINT-WIDTH: $breakpoint-width !global;
            $BREAKPOINT-COLUMNS: $breakpoint-columns !global;
            $BREAKPOINT-GRID-HORIZONTAL-GUTTER: $breakpoint-grid-horizontal-gutter !global;
            $BREAKPOINT-GRID-VERTICAL-GUTTER: $breakpoint-grid-vertical-gutter !global;
            $BREAKPOINT-COLUMN-HORIZONTAL-GUTTER: $breakpoint-column-horizontal-gutter !global;
            $BREAKPOINT-COLUMN-VERTICAL-GUTTER: $breakpoint-column-vertical-gutter !global;
            $BREAKPOINT-VERTICAL-RHYTHM: $breakpoint-vertical-rhythm !global;

            @content;

            $CURRENT-BREAKPOINT: $DEFAULT-BREAKPOINT !global;
            $BREAKPOINT-WIDTH: $DEFAULT-BREAKPOINT-WIDTH !global;
            $BREAKPOINT-COLUMNS: $DEFAULT-BREAKPOINT-COLUMNS !global;
            $BREAKPOINT-GRID-HORIZONTAL-GUTTER: $DEFAULT-BREAKPOINT-GRID-HORIZONTAL-GUTTER !global;
            $BREAKPOINT-GRID-VERTICAL-GUTTER: $DEFAULT-BREAKPOINT-GRID-VERTICAL-GUTTER !global;
            $BREAKPOINT-COLUMN-HORIZONTAL-GUTTER: $DEFAULT-BREAKPOINT-COLUMN-HORIZONTAL-GUTTER !global;
            $BREAKPOINT-COLUMN-VERTICAL-GUTTER: $DEFAULT-BREAKPOINT-COLUMN-VERTICAL-GUTTER !global;
            $BREAKPOINT-VERTICAL-RHYTHM: $DEFAULT-BREAKPOINT-VERTICAL-RHYTHM !global;
        }
    }
};

/**
 * generateFont
 *
 * Generate font-face declaration
 * Assumes you follow the following directory structure:
 *
 * /
 * |- fonts/
 *   |- fontname
 *     |- fontname.eot
 *     |- fontname.woff
 *     |- fontname.ttf
 *     |- fontname.svg
 *
 * @param {string} $fontName - Name of the font to be used when declared
 * @param {string} $fontFileName - Filename of the font
 * @param {int} $fontWeight - Weight of the font (Default: 400)
 *     100 - Thin (Hairline)
 *     200 - Extra Light (Ultra Light)
 *     300 - Light
 *     400 - Normal (Regular)
 *     500 - Medium
 *     600 - Semi Bold (Demi Bold)
 *     700 - Bold
 *     800 - Extra Bold (Ultra Bold)
 *     900 - Black (Heavy)
 * @param {string} $fontStyle - Style of the font (normal, italic, oblique | Default: normal)
 */
@mixin generateFont ($fontName, $fontFileName, $fontWeight: 400, $fontStyle: normal) {
    @font-face {
        font-family: $fontName;
        src: url('{{envPath}}/fonts/#{$fontName}/#{$fontFileName}.eot');
        src: url('{{envPath}}/fonts/#{$fontName}/#{$fontFileName}.eot?iefix') format('embedded-opentype'),
             url('{{envPath}}/fonts/#{$fontName}/#{$fontFileName}.woff') format('woff'),
             url('{{envPath}}/fonts/#{$fontName}/#{$fontFileName}.woff2') format('woff2'),
             url('{{envPath}}/fonts/#{$fontName}/#{$fontFileName}.svg') format('svg'),
             url('{{envPath}}/fonts/#{$fontName}/#{$fontFileName}.ttf') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
    }
};

/**
 * setTypeScale
 *
 * @param {string} $type-scale - The style you wish to use from $TYPE-SCALES-MAP
 * @param {number} $context    - The context of the current type-scale
 * @param {string} $breakpoint - The breakpoint in which you wish to get the $style from
 */
@mixin setTypeScale ($type-scale, $context: getPropertyFromTypeScale(font-size, html, $CURRENT-BREAKPOINT), $breakpoint: $CURRENT-BREAKPOINT, $type-scale-map: $TYPE-SCALES-MAP, $breakpoint-map: $BREAKPOINTS-MAP) {

    // $context is string
    @if type-of($context) == string {

        // Set $context as the font-size of $context
        $context: getPropertyFromTypeScale(font-size, $context, $breakpoint, $type-scale-map, $breakpoint-map);
    }

    // $properties holds all the properties of $type-scale
    $properties: getAllPropertiesFromTypeScale($type-scale, $breakpoint, $type-scale-map);

    // Loop through $properties
    @each $property, $value in $properties {

        // $property is font-size
        @if $property == font-size {

            // $type-scale is html
            @if $type-scale == html {

                // Set the font-size property as px
                font-size: #{getPropertyFromTypeScale(font-size, html, $breakpoint, $type-scale-map)}px;
            }

            // $type-scale is not html
            @else {

                // Set the font-size as em
                font-size: #{getPropertyFromTypeScale(font-size, $type-scale, $breakpoint, $type-scale-map) / $context}em;

                // Set $context as the font-size of $type-scale
                $context: getPropertyFromTypeScale(font-size, $type-scale, $breakpoint, $type-scale-map);
            }
        }

        // $property is font-weight
        @else if $property == font-weight {

            // Set the $value of $property
            font-weight: #{$value};
        }

        // $property is font-family
        @else if $property == font-family {

            // Set the $value of $property
            font-family: quote($value);
        }

        // $property is not font-size or font-weight
        @else {

            // $value of $property is a number
            @if type-of($value) == number {

                // Set the $value of $property based on the font-size of html
                #{$property}: #{$value / $context}em;
            }

            // $value is not a number
            @else {

                // Set the $value of $property
                #{$property}: #{$value};
            }
        }
    }
};

/**
 * generateTypeScaleStyles
 *
 * @param {map} $type-scale-map - The map you want to generate the typescales from (Default: $TYPE-SCALES-MAP)
 */
@mixin generateTypeScaleStyles ($type-scale-map: $TYPE-SCALES-MAP, $breakpoint-map: $BREAKPOINTS-MAP) {

    // $breakpoint-map is a map
    @if type-of($breakpoint-map) == map {

        // $type-scale-map is a map
        @if type-of($type-scale-map) == map {

            // Loop over each breakpoint in $type-scale-map
            @each $breakpoint in map-keys($type-scale-map) {

                // $breakpoint has type scales
                @if length(map-get($type-scale-map, $breakpoint)) > 0 {

                    // $breakpoint is the first breakpoint in $breakpoint-map
                    @if index(map-keys($breakpoint-map), $breakpoint) == 1 {

                        // Loop over each type scale in $breakpoint
                        @each $type-scale in map-keys(map-get($type-scale-map, $breakpoint)) {

                            // Create the type scale
                            #{$type-scale} {

                                // Set the properties for the type scale
                                @include setTypeScale($type-scale);
                            }
                        }
                    }

                    // $breakpoint is not the first breakpoint in $breakpoint-map
                    @else {

                        // Wrap the type scale in a breakpoint of $breakpoint
                        @include breakpoint ($breakpoint) {

                            // Loop over each type scale in $breakpoint
                            @each $type-scale in map-keys(map-get($type-scale-map, $breakpoint)) {

                                // Create the type scale
                                #{$type-scale} {

                                    // Set the properties for the type scale
                                    @include setTypeScale($type-scale);
                                }
                            }
                        }
                    }
                }
            }
        }

        // $type-scale-map is not a map, throw error
        @else {
            @error ('`$type-scale-map` is not a map');
        }
    }

    // $breakpoint-map is not a map, throw error
    @else {
        @error ('`$breakpoint-map` is not a map');
    }
};

/**
 * generateGridStyles
 *
 * @param {map} $breakpoint-map - The map you want to generate the breakpoints from (Default: $BREAKPOINTS-MAP)
 */
@mixin generateGridStyles ($breakpoint-map: $BREAKPOINTS-MAP) {

    // $breakpoint-map is a map
    @if type-of($breakpoint-map) == map {

        // Loop over each breakpoint in $breakpoint-map
        @each $breakpoint in map-keys($breakpoint-map) {

            // If `$breakpoint` is `default`
            @if $breakpoint == 'default' {

                // Default grid styles
                .grid {
                    @include grid($gutters: true, $type: 'float');
                }

                // Default flex grid styles
                .flex-grid {
                    @include grid($gutters: true);

                    // Vertical class modifier
                    &.-vertical {
                        flex-direction: column;
                    }

                    // Horizontal class modifier
                    &.-horizontal {
                        flex-direction: row;
                    }
                }

                // Default column styles
                .grid .col {
                    @include column($columns: 1, $gutters: true, $type: 'float');
                }

                // Default flex column styles
                .flex-grid .col {
                    @include column($columns: 1, $gutters: true);
                }

                // Default shared grid styles
                .grid,
                .flex-grid {

                    // No gutters class modifier
                    &.-no-gutters {
                        padding: 0;
                    }

                    // No horizontal gutters class modifier
                    &.-no-horizontal-gutters {
                        padding: {
                            left: 0;
                            right: 0;
                        }
                    }

                    // No vertical gutters class modifier
                    &.-no-vertical-gutters {
                        padding: {
                            bottom: 0;
                            top: 0;
                        }
                    }

                    // Default column styles
                    .col {

                        // No gutters class modifier
                        &.-no-gutters {
                            padding: 0;
                        }

                        // No horizontal gutters class modifier
                        &.-no-horizontal-gutters {
                            padding: {
                                left: 0;
                                right: 0;
                            }
                        }

                        // No vertical gutters class modifier
                        &.-no-vertical-gutters {
                            padding: {
                                bottom: 0;
                                top: 0;
                            }
                        }
                    }
                }

                // Loop through all the columns in that breakpoint
                @for $i from 1 through $BREAKPOINT-COLUMNS {

                    // Generate the width class for col
                    .grid .col.-col-#{$i} {
                        @include column($columns: $i, $type: 'float');
                    }

                    // Generate the width class for flexCol
                    .flex-grid .col.-col-#{$i} {
                        @include column($columns: $i);
                    }

                    // Generate the left offset class
                    .col.-col-offset-left-#{$i} {
                        margin-left: percentage($i / $BREAKPOINT-COLUMNS);
                    }

                    // Generate the right offset class
                    .col.-col-offset-right-#{$i} {
                        margin-right: percentage($i / $BREAKPOINT-COLUMNS);
                    }
                }
            }

            // If `$breakpoint` is not `default`
            @else {

                // Wrap in a breakpoint
                @include breakpoint($breakpoint) {

                    // Breakpoint grid styles
                    .grid {
                        @include grid($gutters: true, $type: 'float');
                    }

                    // Breakpoint flex grid styles
                    .flex-grid {

                        @include grid($gutters: true);

                        // Vertical class modifier
                        &.-#{$breakpoint}-vertical {
                            flex-direction: column;
                        }

                        // Horizontal class modifier
                        &.-#{$breakpoint}-horizontal {
                            flex-direction: row;
                        }
                    }

                    // Breakpoint shared grid styles
                    .grid,
                    .flex-grid {

                        // Add gutters modifier
                        &.-#{$breakpoint}-gutters {
                            @include gutter($BREAKPOINT-GRID-HORIZONTAL-GUTTER, $BREAKPOINT-GRID-VERTICAL-GUTTER);
                        }

                        // Add horizontal gutters modifier
                        &.-#{$breakpoint}-horizontal-gutters {
                            @include gutter($BREAKPOINT-GRID-HORIZONTAL-GUTTER, 0);
                        }

                        // Add vertical gutters modifier
                        &.-#{$breakpoint}-horizontal-gutters {
                            @include gutter(0, $BREAKPOINT-GRID-VERTICAL-GUTTER);
                        }

                        // No gutters class modifier
                        &.-#{$breakpoint}-no-gutters {
                            padding: 0;
                        }

                        // No horizontal gutters class modifier
                        &.-#{$breakpoint}-no-horizontal-gutters {
                            padding: {
                                left: 0;
                                right: 0;
                            }
                        }

                        // No vertical gutters class modifier
                        &.-#{$breakpoint}-no-vertical-gutters {
                            padding: {
                                bottom: 0;
                                top: 0;
                            }
                        }
                    }

                    // Breakpoint col styles
                    .grid .col {
                        @include column($columns: 1, $gutters: true, $type: 'float');
                    }

                    // Breakpoint flexCol styles
                    .flex-grid .col {
                        @include column($columns: 1, $gutters: true);
                    }

                    // Breakpoint shared col styles
                    .col,
                    .flex-col {

                        // Add gutters modifier
                        &.-#{$breakpoint}-gutters {
                            @include gutter($BREAKPOINT-GRID-HORIZONTAL-GUTTER, $BREAKPOINT-GRID-VERTICAL-GUTTER);
                        }

                        // Add horizontal gutters modifier
                        &.-#{$breakpoint}-horizontal-gutters {
                            @include gutter($BREAKPOINT-GRID-HORIZONTAL-GUTTER, 0);
                        }

                        // Add vertical gutters modifier
                        &.-#{$breakpoint}-horizontal-gutters {
                            @include gutter(0, $BREAKPOINT-GRID-VERTICAL-GUTTER);
                        }

                        // No gutters class modifier
                        &.-#{$breakpoint}-no-gutters {
                            padding: 0;
                        }

                        // No horizontal gutters class modifier
                        &.-#{$breakpoint}-no-horizontal-gutters {
                            padding: {
                                left: 0;
                                right: 0;
                            }
                        }

                        // No vertical gutters class modifier
                        &.-#{$breakpoint}-no-vertical-gutters {
                            padding: {
                                bottom: 0;
                                top: 0;
                            }
                        }
                    }

                    // Loop through all the columns in that breakpoint
                    @for $i from 1 through $BREAKPOINT-COLUMNS {

                        // Generate the width class for col
                        .grid .col.-#{$breakpoint}-col-#{$i} {
                            @include column($columns: $i, $type: 'float');
                        }

                        // Generate the width class for flexCol
                        .flex-grid .col.-#{$breakpoint}-col-#{$i} {
                            @include column($columns: $i);
                        }

                        // Generate the left offset class
                        .col.-#{$breakpoint}-col-offset-left-#{$i} {
                            margin-left: percentage($i / $BREAKPOINT-COLUMNS);
                        }

                        // Generate the right offset class
                        .col.-#{$breakpoint}-col-offset-right-#{$i} {
                            margin-right: percentage($i / $BREAKPOINT-COLUMNS);
                        }
                    }
                }
            }
        }
    }

    // $breakpoint-map is not a map, throw error
    @else {
        @error ('`$breakpoint-map` is not a map');
    }
};

// Clearfix
@mixin clearfix () {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

// Vertical align
@mixin verticalAlign () {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

// Align
@mixin align ($align) {
    @if $align == 'left' {
        margin: auto auto auto 0;
    }

    @else if $align == 'right' {
        margin: auto 0 auto auto;
    }

    @else if $align == 'center' {
        margin: 0 auto 0 auto;
    }

    @else if $align == 'top' {
        margin: 0 auto auto auto;
    }

    @else if $align == 'bottom' {
        margin: auto auto 0 auto;
    }
};

// Gutter
@mixin gutter ($horizontal-gutter: $BREAKPOINT-GRID-HORIZONTAL-GUTTER, $vertical-gutter: $BREAKPOINT-GRID-VERTICAL-GUTTER) {
    padding: {
        bottom: em($vertical-gutter);
        left: em($horizontal-gutter);
        right: em($horizontal-gutter);
        top: em($vertical-gutter);
    }
}

// Grid
@mixin grid ($width: 100%, $max-width: null, $gutters: null, $align: 'center', $horizontal-gutter: $BREAKPOINT-GRID-HORIZONTAL-GUTTER, $vertical-gutter: $BREAKPOINT-GRID-VERTICAL-GUTTER, $type: 'flex', $direction: 'row', $wrap: 'wrap') {

    // Align grid
    @include align($align);

    // Float
    @if ($type == 'float') {
        @include clearfix();
    }

    // Flex
    @if ($type == 'flex') {
        display: flex;
        flex: {
            direction: unquote($direction);
            wrap: unquote($wrap);
        }
    }

    // Gutters
    @if ($gutters == true) {
        @include gutter($horizontal-gutter, $vertical-gutter);
    }

    // Width
    width: $width;

    // Max width
    @if ($max-width != null) {
        max-width: $max-width;
    }
}

// Column
@mixin column ($columns: null, $gutters: null, $horizontal-gutter: $BREAKPOINT-COLUMN-HORIZONTAL-GUTTER, $vertical-gutter: $BREAKPOINT-COLUMN-VERTICAL-GUTTER, $type: 'flex', $direction: 'left', $context: $BREAKPOINT-COLUMNS) {
    @if ($type == 'float') {
        float: unquote($direction);
    }

    @if ($gutters == true) {
        @include gutter($horizontal-gutter, $vertical-gutter);
    }

    @if ($columns != null) {
        width: percentage($columns / $context);
    }
};

// Nested column
@mixin nestedColumn ($columns: $BREAKPOINT-COLUMNS, $context: $BREAKPOINT-COLUMNS) {
    @include gutter();

    width: calc((100% / #{$context}) * #{$columns});
};

// Vertical baseline background guide
@mixin verticalBaseline ($height: $BREAKPOINT-VERTICAL-RHYTHM, $style: 'lines', $colour: rgba(0, 255, 255, 0.3)) {

    // $style is lines
    @if $style == 'lines' {
        background-image: linear-gradient(to bottom, transparent em($height - 1), $colour em(1));
        background-size: 100% em($height);
    }

    // Style is bars
    @else if $style == 'bars' {
        background-image: linear-gradient(to bottom, transparent em($height / 2), $colour em($height / 2));
        background-size: 100% em($height);
    }

    // $style is not lines or bars, throw error
    @else {
        @error ('`$style` of `#{$style}` needs to be either `lines` or `bars`');
    }
}

// Column overlay
@mixin columnOverlay ($column-colour: rgba(0, 255, 255, 0.3), $gutter-colour: transparent) {
    background: linear-gradient(90deg, $gutter-colour em($BREAKPOINT-COLUMN-HORIZONTAL-GUTTER), $column-colour em($BREAKPOINT-COLUMN-HORIZONTAL-GUTTER), $column-colour calc(100% - #{em($BREAKPOINT-COLUMN-HORIZONTAL-GUTTER)}), $gutter-colour calc(100% - #{em($BREAKPOINT-COLUMN-HORIZONTAL-GUTTER)}), $gutter-colour 100%);
    background-size: percentage(1 / $BREAKPOINT-COLUMNS) 100%;
};