/**
 * Utils: Placeholders
 */

// Vertical align
%vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// Absolute center align
%absolute-center-align {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}