/**
 * Utils: Variables
 */

// Colours
$DARK-GREY: #333333;
$LIGHT-GREY: #666666;
$WHITE: #FFFFFF;

// Maps

/**
 * Breakpoints
 *
 * @key   {string} - Name of breakpoint
 * @value {string} - Type of breakpoint (min, max)
 * @value {int}    - Width that breakpoint starts
 * @value {int}    - Number of columns for grid
 * @value {int}    - Gutter width for each column
 * @value {int}    - Grid margin
 * @value {int}    - Vertical Grid height
 */
$BREAKPOINTS: (
    default: min 0 6 10 10 24,
    phablet: min 480 6 10 10 24,
    tablet: min 768 12 20 20 24,
    laptop: min 1024 12 20 20 24,
    desktop: min 1366 12 20 20 24
);

/**
 * Type-scales
 *
 * @key   {string}       - Name of breakpoint
 * @key   {string}       - Name of element
 * @key   {string}       - Property
 * @value {string | int} - Value of property
 */
$TYPE-SCALES: (
    default: (
        html: (
            font-size: 16,
            line-height: 24
        ),
        h1: (
            font-size: 31,
            line-height: 39,
            text-transform: uppercase
        ),
        h2: (
            font-size: 25,
            line-height: 31,
            text-transform: uppercase
        ),
        h3: (
            font-size: 20,
            line-height: 25,
            text-transform: uppercase
        ),
        h4: (
            font-size: 20,
            line-height: 25,
            text-transform: uppercase
        ),
        h5: (
            font-size: 20,
            line-height: 25,
            text-transform: uppercase
        ),
        h6: (
            font-size: 16,
            line-height: 24,
            text-transform: uppercase
        ),
        p: (
            font-size: 16,
            line-height: 24
        )
    ),
    tablet: (
        h1: (
            font-size: 49,
            line-height: 61,
            text-transform: uppercase
        ),
        h2: (
            font-size: 39,
            line-height: 49,
            text-transform: uppercase
        ),
        h3: (
            font-size: 31,
            line-height: 39,
            text-transform: uppercase
        ),
        h4: (
            font-size: 25,
            line-height: 31,
            text-transform: uppercase
        )
    )
);

// Global variable declarations because SASS doesn't support scope properly :(

// Breakpoint
$BREAKPOINTS-MAP: $BREAKPOINTS;
$DEFAULT-BREAKPOINT: nth(map-keys($BREAKPOINTS-MAP), 1);
$CURRENT-BREAKPOINT: $DEFAULT-BREAKPOINT;

// Grid
$DEFAULT-BREAKPOINT-WIDTH: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 2);
$BREAKPOINT-WIDTH: $DEFAULT-BREAKPOINT-WIDTH;
$DEFAULT-TOTAL-COLUMNS: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 3);
$TOTAL-COLUMNS: $DEFAULT-TOTAL-COLUMNS;
$DEFAULT-GUTTER-WIDTH: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 4);
$GUTTER-WIDTH: $DEFAULT-GUTTER-WIDTH;
$DEFAULT-GRID-MARGIN: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 5);
$GRID-MARGIN: $DEFAULT-GRID-MARGIN;
$DEFAULT-VERTICAL-GRID-HEIGHT: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 6);
$VERTICAL-GRID-HEIGHT: $DEFAULT-VERTICAL-GRID-HEIGHT;

// Type scale
$TYPE-SCALES-MAP: $TYPE-SCALES;