/**
 * Base: Normalise
 */

html {
    font: {
        family: Arial, sans-serif;
        size: 16px;
    }
    height: 100%;
    line-height: 1.5em;
    min-height: 100%;
    text-size-adjust: 100%;
    width: 100%;
}

body {
    font: {
        size: 100%;
        smoothing: antialiased;
    }
    height: 100%;
    min-height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 100%;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
    -ms-interpolation-mode: bicubic;
}