/**
 * Pages: Index
 */

.grid {
    background-color: $DARK-GREY;
}

.col {
    background-color: $LIGHT-GREY;
    text-align: center;
}

.col:nth-child(odd) {
    background-color: $WHITE;
}

.fluid-grid-example {
    .grid {
        @include grid ();
    }
}

.restricted-grid-example {
    .grid {
        @include grid ($max-width: em(500));
    }
}

.fixed-grid-example {
    .grid {
        @include grid ($width: em(300));
    }
}