/**
 * Pages: Index
 */

ul {
    margin: 0 auto;
    text-align: center;

    a {
        color: $DARK-GREY;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid $DARK-GREY;
        }
    }
}