/**
 * Pages: Index
 */

.test-grid-example {
    .grid {
        padding: 0;

        .col {
            div {
                background-color: #00FF00;
            }
        }
    }
}

.grid {
    background-color: $DARK-GREY;
}

.col {
    background-color: $LIGHT-GREY;
    text-align: center;
}

.col:nth-child(odd) {
    background-color: $WHITE;
}

.restricted-grid-example {
    .grid {
        @include grid ($max-width: em(500));
    }
}

.fixed-grid-example {
    .grid {
        @include grid ($width: em(300));
    }
}