/**
 * Pages: Grid
 */

.page-grid {
    &.-debug {
        @each $breakpoint, $value in $BREAKPOINTS {
            @include breakpoint($breakpoint) {
                @include columnOverlay();
            }
        }
    }

    .grid {
        background-color: $DARK-GREY;
    }

    .col {
        background-color: $LIGHT-GREY;
        text-align: center;

        &:nth-child(odd) {
            background-color: $WHITE;
        }

        div {
            background-color: $DARK-GREY;
            color: $WHITE;
        }
    }
}