/**
 * Variables: Globals
 */

$BREAKPOINTS-MAP: $BREAKPOINTS;
$TYPE-SCALES-MAP: $TYPE-SCALES;
$DEFAULT-BREAKPOINT: nth(map-keys($BREAKPOINTS-MAP), 1);
$DEFAULT-BREAKPOINT-WIDTH: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 2);
$DEFAULT-BREAKPOINT-COLUMNS: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 3);
$DEFAULT-BREAKPOINT-GRID-HORIZONTAL-GUTTER: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 4);
$DEFAULT-BREAKPOINT-GRID-VERTICAL-GUTTER: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 5);
$DEFAULT-BREAKPOINT-COLUMN-HORIZONTAL-GUTTER: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 6);
$DEFAULT-BREAKPOINT-COLUMN-VERTICAL-GUTTER: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 7);
$DEFAULT-BREAKPOINT-VERTICAL-RHYTHM: nth(map-get($BREAKPOINTS-MAP, nth(map-keys($BREAKPOINTS-MAP), 1)), 8);

$CURRENT-BREAKPOINT: $DEFAULT-BREAKPOINT;
$BREAKPOINT-WIDTH: $DEFAULT-BREAKPOINT-WIDTH;
$BREAKPOINT-COLUMNS: $DEFAULT-BREAKPOINT-COLUMNS;
$BREAKPOINT-GRID-HORIZONTAL-GUTTER: $DEFAULT-BREAKPOINT-GRID-HORIZONTAL-GUTTER;
$BREAKPOINT-GRID-VERTICAL-GUTTER: $DEFAULT-BREAKPOINT-GRID-VERTICAL-GUTTER;
$BREAKPOINT-COLUMN-HORIZONTAL-GUTTER: $DEFAULT-BREAKPOINT-COLUMN-HORIZONTAL-GUTTER;
$BREAKPOINT-COLUMN-VERTICAL-GUTTER: $DEFAULT-BREAKPOINT-COLUMN-VERTICAL-GUTTER;
$BREAKPOINT-VERTICAL-RHYTHM: $DEFAULT-BREAKPOINT-VERTICAL-RHYTHM;