/**
 * Variables: Type Scales
 */

/**
 * Type Scales
 *
 * @key   {string}       - Name of breakpoint
 * @key   {string}       - Name of element
 * @key   {string}       - Property
 * @value {string | int} - Value of property
 */
$TYPE-SCALES: (
    default: (
        html: (
            font-size: 16,
            line-height: 24
        ),
        h1: (
            debug: (
                spacing: 3
            ),
            font-size: 32,
            line-height: 48,
            text-transform: uppercase
        ),
        h2: (
            debug: (
                spacing: 3
            ),
            font-size: 26,
            line-height: 48,
            text-transform: uppercase
        ),
        h3: (
            debug: (
                spacing: 3
            ),
            font-size: 22,
            line-height: 24,
            text-transform: uppercase
        ),
        h4: (
            debug: (
                spacing: 3
            ),
            font-size: 18,
            line-height: 24,
            text-transform: uppercase
        ),
        h5: (
            debug: (
                spacing: 3
            ),
            font-size: 16,
            line-height: 24,
            text-transform: uppercase
        ),
        h6: (
            debug: (
                spacing: 3
            ),
            font-size: 16,
            line-height: 24,
            text-transform: uppercase
        ),
        p: (
            debug: (
                spacing: 3
            ),
            font-size: 16,
            line-height: 24
        ),
        blockquote: (
            border-left-color: $BLACK,
            border-left-style: solid,
            border-left-width: 3,
            debug: (
                spacing: 3
            ),
            font-size: 20,
            line-height: 24,
            padding-left: 20
        )
    ),
    tablet: (
        h1: (
            debug: (
                spacing: 5
            ),
            font-size: 48,
            line-height: 72
        ),
        h2: (
            debug: (
                spacing: 5
            ),
            font-size: 39,
            line-height: 72
        ),
        h3: (
            debug: (
                spacing: 5
            ),
            font-size: 33,
            line-height: 36
        ),
        h4: (
            debug: (
                spacing: 5
            ),
            font-size: 27,
            line-height: 36
        ),
        h5: (
            debug: (
                spacing: 5
            ),
            font-size: 24,
            line-height: 36,
        ),
        h6: (
            debug: (
                spacing: 5
            ),
            font-size: 24,
            line-height: 36
        ),
        p: (
            debug: (
                spacing: 5
            ),
            font-size: 24,
            line-height: 36
        ),
        blockquote: (
            debug: (
                spacing: 5
            ),
            font-size: 30,
            line-height: 36
        )
    )
);
